* {
    background-color: lime;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 65px;
    font-family: 'Big Shoulders Display', cursive;
}

h1 {
    color: #fff;
    font-size: 70px;
    margin-bottom: 55px;
}

h2 {
    font-size: 55px;
    margin-bottom: 45px;
    text-align: center;
}

.container {
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    padding: 32px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 40px;
    padding: 30px 0;
    width: 300px;
    text-align: center;
    margin-bottom: 18px;
    text-decoration: none;
    background-color: #fff;
    color: black;
    border-radius: 4px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 11px 11px 0 #1e2418;
    transition: transform 180ms;
    transform: scale(1.1);
}

ol, li {
    font-size: 42px;
    align-items: center;
}

.q1-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 380px;
    max-height: 380px;
    border-style: solid;
    border-radius: 5%;
    border-color: #fff;
}

p {
    margin-left: 270px;
    display: inline-block;
    padding: 15px ;
}

.choices-container {
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}

.choices-container:hover {
    cursor: pointer;
    box-shadow: 0 11px 11px 0 #1e2418;
    transform: scale(1.02);
    transform: transform 100ms;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}