* {
    background-color: lime;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 65px;
    font-family: 'Big Shoulders Display', cursive;
}

h1 {
    color: #fff;
    font-size: 70px;
    margin-bottom: 55px;
}

h2 {
    font-size: 55px;
    margin-bottom: 45px;
}

.container {
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    padding: 32px;
}

